<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean id="triangle" class="mac.model.Triangle">
		<property name="name" value="Scalene Triangle"></property>
	</bean>
	<bean id="circle" class="mac.model.Circle">
		<property name="name" value="Perfect Circle"></property>
	</bean>

	<bean id="shapeService" class="mac.service.ShapeService"
		autowire="byName"></bean>

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="loggingAspect" class="mac.aspect.LoggingAspect"></bean>

</beans>  